# =========================================================================
# GLOBAL / IDEs
# =========================================================================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
.DS_Store
Thumbs.db

# =========================================================================
# BACKEND (Python + uv)
# =========================================================================

backend/.venv/

**/__pycache__/
*.pyc
backend/.cache/
backend/.pytest_cache/
backend/.ruff_cache/
backend/.mypy_cache/
backend/.chache

backend/.env
backend/.env.local

backend/logs/*
!backend/logs/.gitkeep

backups/*.sql

# =========================================================================
# FRONTEND (React + Vite + Node)
# =========================================================================

frontend/node_modules/

frontend/dist/

frontend/.eslintcache
frontend/.vite/

frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local