DB_NAME=music_db
DB_USER=root
DB_PASSWORD=my_password
DB_HOST=localhost
DB_PORT=3306

ENVIRONMENT=development



# ======================================================
# OPCIONAL
# Si MySQL NO está agregado al PATH del sistema,
# configure la ruta donde se encuentra mysql y mysqldump.
# Descomente la opción correspondiente.
# ======================================================
# Windows
# MYSQL_BIN=C:\Program Files\MySQL\MySQL Server 8.0\bin
# macOS (Apple Silicon - Homebrew)
# MYSQL_BIN=/opt/homebrew/bin